<h2>Chat</h2>
<hr>

<div class="app-mensajes" id="app-mensajes">

  <div *ngFor="let chat of cs.chats"
       [ngClass]="{ 'text-right': cs.usuario.uid == chat.uid }">
    <span class="badge badge-pill"
          [ngClass]="{ 'badge-primary': cs.usuario.uid == chat.uid,
                       'badge-primary': cs.usuario.uid != chat.uid }">
          {{chat.nombre}}
    </span>
    <p>
      {{chat.mensaje}}
    </p>
  </div>
</div>
<input type="text" class="form-control" name="mensaje" [(ngModel)]="mensaje" (keyup.enter)="enviarMensaje()"
  placeholder="Enviar Mensaje">
