<!-- <ul>
  <li class="text" *ngFor="let chat of chats | async">
    {{chat.mensaje}}
  </li>
</ul> -->

<section class="container main-container text-center" style="align-content: center">

  <h1>FireChat</h1>

  <div class="col-md-12 text-right" *ngIf="cs.usuario.uid">
    <button type="button" name="button" (click)="cs.logout()" class="btn btn-outline-danger">Salir</button>
  </div>

  <app-login *ngIf="!cs.usuario.uid"></app-login>

  <div class="chat-window animated fadeIn" *ngIf="cs.usuario.uid">

    <app-chat></app-chat>
    
  </div>


</section>
